/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

*
{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

*:focus
{
    outline: none;
}







.switcher > .button 
{
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
     border: 1px solid var(--pri-color);
box-shadow: unset;

}



.switcher > .button:hover
{
background: transparent;

}




.switcher > .button .b2
{
    border-radius: 20px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


/* Button 15 */



#button-15 .knobs:before, #button-15 .knobs:after
{
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    opacity: 1;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-15 .knobs:before
{
    content: 'YES';
    left: 4px;
    background-color: var(--pri-color);
    color: black;
}

#button-15 .knobs:after
{
    content: 'NO';
    right: 4px;
    opacity: 0;
    transform: scale(4);
    background-color: #F44336;
}

#button-15 .checkbox:checked + .knobs:before
{
    opacity: 0;
    transform: scale(4);
}

#button-15 .checkbox:checked + .knobs:after
{
    opacity: 1;
    transform: scale(1);
}

#button-15 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}




#button-15{
    
}




.box:nth-child(1){
   margin-top: 100px;
}

.box{
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    padding-bottom: 50px;
    border-radius: 10px;
    max-width: 600px;
}

.box:hover{
/*    transition: all ease .5s;
 -webkit-box-shadow: 18px 18px 0px 0px rgba(0,0,0,0.19); 
box-shadow: 18px 18px 0px 0px rgba(0,0,0,0.19);
border: .5px solid #d9d9d9;   */
}


.switcher{
display: flex;
justify-content: space-between;
padding: 10px;
}


.setting-option{
    font-family: Comfortaa-Bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 60%;
    font-size: 11px;
}
















.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content : space-evenly;
  margin: 20px;

  
}




.nav-btn {
  transition: all ease .5s;
  border: none;
  outline: none;
  /*padding: 10px 30px 10px 30px;*/
  padding: 3px;
  cursor: pointer;
  font-weight: bolder;
  background: transparent;
font-family: Comfortaa-Bold;

}

@media screen and (max-width: 400px) {

.nav-btn {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 padding: 8px;

}



}



.nav-btn svg {
height: 24px;
width: 24px;
margin-bottom: 5px;
margin-right: 3px;
}



.active {
  border-bottom: 4px solid rebeccapurple;
  color: rebeccapurple; 
}


.nav-btn:hover {
cursor: pointer;
 }

#normal_button svg{
margin-right: 2px;
}







